@* @model IEnumerable<ReceptBank.Models.ReceptModel> *@
@model IEnumerable<ReceptBank.Models.ReceptViewModel>

@{
    ViewData["Title"] = "Updated Recipe";
}

<h2>Updated Recipe</h2>

<p>The recipe has been successfully updated.</p>


<a asp-controller="Recept" asp-action="Recept">Back to Recipe List</a>
