@* @model IEnumerable<ReceptBank.Models.ReceptModel> *@
@model IEnumerable<ReceptBank.Models.ReceptViewModel>

@{
    ViewData["Title"] = "Remove Recipe";
}

<h2>Remove Recipe</h2>

<p>The recipe has been successfully removed.</p>

<a asp-controller="Recept" asp-action="Recept">Back to Recipe List</a>
