@model ReceptBank.Models.ReceptViewModel

<form method="post" action="@Url.Action("SubmitEdit")">
    <input type="hidden" name="id" value="@Model.ReceptId" />
    <input type="text" name="name" value="@Model.Name" />
    <input type="text" name="ingredients" value="@Model.Ingredients" />
    <button type="submit" asp-action="SubmitEdit">Submit</button>
</form>

<!-- Add more fields for other recipe details -->

