@model ReceptBank.Models.ReceptViewModel

<h2>Recept List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Recept</th>
            <th>Ingredients</th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Ingredients</td>
            </tr>
        
    </tbody>
</table>

