@model IEnumerable<ReceptBank.Models.ReceptModel>

<h2>Recpepttetetetet List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Recept</th>
            <!-- <th>Ingredients</th> -->
        </tr>
    </thead>
    <tbody>
        
    </tbody>
    
</table>
@foreach (var Recept in Model)
        {
            <tr>
                <button class="hover-effect"
                style="margin-bottom: 7px; 
                border-radius: 7px;
                background-color: pink">@Recept.Name</button><br>
                <!--<td>@Recept.Ingredients</td> -->
            </tr>
        }
