<h1>ReceptBank<h1>
    <table border="2">
        <thead>
            <tr>
                <th>Recept</th>
                <th>Ingridienser</th>
                <th>yolo</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>mju </td>
                <td>mja</td>
                <td>mjai</td>
             </tr>
         </tbody>
    </table>

            