@model IEnumerable<ReceptBank.Models.ReceptViewModel>

<h2>Recept List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Recept</th>
            <!-- <th>Ingredients</th> -->
        </tr>
    </thead>
    <tbody>

    @foreach (var recept in Model)
{
    <tr>
        <td>
            <form method="get" action="@Url.Action("Edit")">
                
                <input type="hidden" name="id" value="@recept.ReceptId" />
                <button type="submit" class="hover-effect" style="margin-bottom: 7px; border-radius: 7px; background-color: pink">
                    @recept.Name
                </button>
            </form>
        </td>
    </tr>
}

</table>


