@{
    ViewData["Title"] = "Recept";
}

<div class="text-center">
    <h1 class="display-4">
         <p>KLADDKAKA</p>
        
        Svenskt Smör från Arla®<br>
150 g<br>
Ägg 3<br>
Strösocker 3 dl<br>
Vetemjöl 2 dl<br>
Kakao 1 dl<br>
Vaniljsocker ½ msk<br>
Salt 2 krm</h1>
</div>

<h3>
Sätt ugnen på 175°.
Smält smöret.
Rör ihop ägg och socker i en bunke.
Blanda de torra ingredienserna och rör ner i smeten tillsammans med smöret.
Häll smeten i en smord och bröad form med löstagbar kant, ca 24 cm i diameter.
Grädda i mitten av ugnen 12-14 min tills kakan är torr på ytan men fortfarande känns lite lös i mitten. Låt kakan svalna.</h3>
