@model IEnumerable<ReceptBank.Models.ReceptViewModel>

<h2>Recept List oojojojojo</h2>

<table class="table">
    <thead>
        <tr>
            <th>Recept</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Recept in Model)
        {
            <tr>
                <td>@Recept.Name</td>
                <td>
                    <form method="post" asp-controller="Recept" asp-action="Remove">
                        <input type="hidden" name="id" value="@Recept.ReceptId" />
                        <button class="hover-effect" style="margin-bottom: 7px; border-radius: 7px; background-color: pink">Remove</button>
                    </form>
                    <a asp-controller="Recept" asp-action="Edit">Edit</a>
                </td>
            </tr>
        }
    </tbody>    
</table>
