@model IEnumerable<ReceptBank.Models.ReceptViewModel>

<h2>Recept List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Recept</th>
<<<<<<< HEAD
            <th>Ingredients</th>
         
=======
            <!-- <th>Ingredients</th> -->
>>>>>>> d3e794bfdeff080865c2c65bd5f5acfeb816cfae
        </tr>
    </thead>
    <tbody>
        
    </tbody>    
</table>

@foreach (var Recept in Model)
        {
            <tr>
<<<<<<< HEAD
                <td>@Recept.Name</td>
                <td>@Recept.Ingredients</td>                
=======
<<<<<<< HEAD
=======
                <td><a asp-asp-controller="Recept" asp-action="Edit" >Edit</a><td>
                //<td><a asp-asp-controller="Recept" asp-action="Remove" >Remove</a><td>
>>>>>>> REC-11-edit-recipe
                <button class="hover-effect"
                style="margin-bottom: 7px; 
                border-radius: 7px;
                background-color: pink">@Recept.Name</button><br>
                <!--<td>@Recept.Ingredients</td> -->
<<<<<<< HEAD
=======
           
>>>>>>> REC-11-edit-recipe
>>>>>>> d3e794bfdeff080865c2c65bd5f5acfeb816cfae
            </tr>
        }
